<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="static/css/common.css" />
    <link rel="stylesheet" href="static/css/devices.css" />
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="/static/js/moment.js" type="text/javascript"></script>
    <script src="/static/js/moment-duration-format.js" type="text/javascript"></script>
    <title>Runpier Dashboard</title>
</head>

<body>
    <nav class="sidebar">
        <div class="logo"></div>
        <div class="items">
            <ul class="li-items">
                <% menubar.forEach(function(page){ %>
                    <a href="<%= page.link %>" style="text-decoration: none">
                        <li class="item">
                            <i class="<%= page.icon %> item-icon"></i>
                            <span class="item-text">
                                <%= page.name %>
                            </span>
                        </li>
                    </a>
                    <% }); %>
            </ul>
        </div>
    </nav>
    <nav class="topbar">
        <div class="text">
            <h1 class="pagename">Appareils</h1>
        </div>
        <div class="items">
            <!--<div class="bar">
                    <input type="text" class="searchbar" placeholder="Search" />
                    <button class="search"><i class="las la-search"></i></button>
                </div>-->
            <button class="account">
                <img src="static/assets/img/profile.png" />
                <span class="pseudo">ZoliexDEV</span>
                <i class="las la-angle-down"></i>
            </button>
        </div>
    </nav>

    <div class="flex-content">
        <div class="container">
            <div class="header">
                <h1>Appareils USB</h1>
            </div>
            <div class="infos">
                <div class="info">
                    <div class="title-container">
                        <span class="title">Appareils connectés</span>
                    </div>
                    <div class="info-box">
                        <p id="info-devices-value">0</p>
                    </div>
                    <div class="footer">
                        <span class="date">00:00</span>
                    </div>
                </div>

                <div class="info">
                    <div class="title-container">
                        <span class="title">Consommation totale</span>
                    </div>
                    <div class="info-box">
                        <p id="info-power-value">0</p>
                        <p class="info-unit">mA</p>
                    </div>
                    <div class="footer">
                        <span class="date">00:00</span>
                    </div>
                </div>

                <div class="info">
                    <div class="title-container">
                        <span class="title">Imprimantes connectées</span>
                    </div>
                    <div class="info-box">
                        <p id="info-printers-value">0</p>
                    </div>
                    <div class="footer">
                        <span class="date">00:00</span>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <div class="table">
                    <h2 class="title">Mes Appareils</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Id</th>
                                <th>Vendeur</th>
                                <th>Type</th>
                                <th>Consommation max.</th>
                            </tr>
                        </thead>
                        <tbody id="devices-table">
                            <tr class="no-hover">
                                <td colspan="6">
                                    <div class="app-loading">
                                        <div class="app-loading-loader">
                                            <div class="lds-ring">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="app-loading-text">
                                            Chargement des applications
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--<div class="other-infos">
                <h2 class="title">Storage Details</h2>
                <div id="pie-chart"></div>
            </div>-->
    </div>
    <script src="static/js/devices.js"></script>
</body>

</html>