<%- include('../layouts/header.ejs', { scripts_name: scripts_name, name: name }) %>
    <div class="header">
        <h1>Informations système</h1>
        <!--<button class="new item">
                        <i class="las la-plus"></i>&nbsp;&nbsp;Créer
                    </button>-->
    </div>
    <div class="infos">
        <div class="info board"></div>
        <div class="info os"></div>
        <div class="info versions"></div>
    </div>
    </div>
    <%- include('../layouts/footer.ejs', { scripts_name: scripts_name }) %>